.navbar-brand{
    font-size: 1.7rem;
    font-weight: bold;
}

.nav-link{
    text-decoration: none;
    color: dimgray; 
    font-size: 1rem;
}
.active{
    color:white !important;
    font-weight: bold !important;
}