@import '../../constants/constants';


.BackgroundDiv{
    background-color: $background-gray;
}

.bodyText{
    color:$body-text-color;
    font-size: $body-text-size;
    font-weight: $body-text-weight;

}